.framerCommerce {
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  width: 142px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 999999;
  background-color: rgb(255, 255, 255);
  background-size: initial;
  background-position: initial;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.26) 0px 0.636953px 1.14652px -1.125px,
    rgba(0, 0, 0, 0.24) 0px 1.9316px 3.47689px -2.25px,
    rgba(0, 0, 0, 0.192) 0px 5.10612px 9.19102px -3.375px,
    rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.framerCommerceLink {
  display: block;
  caret-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  line-height: 0;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-fill-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-color: rgb(0, 0, 238);
  cursor: pointer;
}

.framerCommerce2 {
  display: block;
  width: 100%;
  height: auto;
  caret-color: rgb(0, 0, 238);
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-color: rgb(0, 0, 238);
}
